@use 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: variables.$color-bg;
  font-family: variables.$font-family-primary;
  font-size: 1.6rem;
}

.btn {
  border: 0;
  border-radius: 2px;
  padding: 0.5rem;
  font-family: variables.$font-family-primary;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}

.error,
.success {
  font-family: variables.$font-family-secondary;
  color: white;
  padding: 0.5rem;
  text-align: center;
}

.error {
  background-color: #f93154;
}

.success {
  background-color: #00b74a;
}
