@use 'variables';

.modal {
  position: absolute;
  background-color: variables.$color-dark;
  color: white;
  width: 500px;
  height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  &.flex {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }

  h2 {
    margin: 2rem;
    align-self: center;
  }

  &__form-control {
    display: flex;
    flex-direction: column;
    margin: 4rem;
  }

  &__submit-btn {
    display: block;
    margin: 0 auto;
  }
}
