@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins&display=swap');

// Font
$font-family-primary: 'Oswald', sans-serif;
$font-family-secondary: 'Poppins', sans-serif;

// Colors

$color-bg: #d4d2ca;
$color-dark: #242a2f;
$color-light: #ece9e0;
